<header class="headContainer">
    <section>
        <h4>
          Form Validation
        </h4>
    </section>
</header>

<hr>

<h4>
    Children:
</h4>

<div class="childContainer">
    <form [formGroup]="formA" (ngSubmit)="onSubmit()">

        Name: <input type="text" formControlName="name" class="form-control" />
       
        <br><br>
        email: <input type="text" formControlName="email" class="form-control" />
        <br><br>
        Phone Number: <input type="number" formControlName="phone" class="form-control" />
        <br><br>
        <div>
           <button mat-button [disabled]="formA.invalid">Submit</button>
        </div>

    </form>
</div>