<header class="headContainer">
    <section>
        <h4>Key Components of Angular</h4>
    </section>
</header>

<hr>

<div class="container">
    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>
    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>
    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>
    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>
    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>
    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div> <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>
    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>
    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>
    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div> <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>
    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>

    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>
    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>
    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>
    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>
    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>
    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div> <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>
    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>
    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>
    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>
    <div>
        <details>
            <summary></summary>
            <p></p>
        </details>
    </div>

</div>