.container{
    display:grid;
    justify-content:space-evenly;
    grid-template-columns:50% 50%;
    grid-gap: 15px;
    margin:20px;
}

.container>div{
    padding : 10px;
}

summary+p::first-letter{
    color:crimson;
    font-size: larger;
    font-weight: bolder;
}

summary{
    font-weight: bold;
}