<header class="headContainer">
    <section>
        <h4>Building-blocks of Angular</h4>
    </section>
</header>

<hr>
<p>The basic building block of angular are <b>NGModules</b></p>
<div class="container">

    <div>
        <details>
            <summary>Modules</summary>
            <p>
                &nbsp; &nbsp;&nbsp; &nbsp;
                Modules are containers that organize and combine the functionality blocks like components, directives,
                services, etc.
                making sense of how the application parts fit together. To facilitate the development of complex
                applications, the code can be organized into distinct functional modules.
            </p>
        </details>
    </div>
    <div>
        <details>
            <summary>Components</summary>
            <p> &nbsp; &nbsp;&nbsp; &nbsp;</p>
        </details>
    </div>
    <div>
        <details>
            <summary>Directives</summary>
            <p> &nbsp; &nbsp;&nbsp; &nbsp;</p>
        </details>
    </div>
    <div>
        <details>
            <summary>Metadata</summary>
            <p> &nbsp; &nbsp;&nbsp; &nbsp;</p>
        </details>
    </div>
    <div>
        <details>
            <summary>Lazy-Loading</summary>
            <p> &nbsp; &nbsp;&nbsp; &nbsp;</p>
        </details>
    </div>
    <div>
        <details>
            <summary>Deep Linking</summary>
            <p> &nbsp; &nbsp;&nbsp; &nbsp;</p>
        </details>
    </div>
    <div>
        <details>
            <summary>Templates</summary>
            <p> &nbsp; &nbsp;&nbsp; &nbsp;</p>
        </details>
    </div>
    <div>
        <details>
            <summary>Dependency injection (DI)</summary>
            <p> &nbsp; &nbsp;&nbsp; &nbsp;</p>
        </details>
    </div>
    <div>
        <details>
            <summary>Data binding</summary>
            <p> &nbsp; &nbsp;&nbsp; &nbsp;</p>
        </details>
    </div>
    <div>
        <details>
            <summary>Services</summary>
            <p> &nbsp; &nbsp;&nbsp; &nbsp;</p>
        </details>
    </div>
    <div>
        <details>
            <summary>Redux</summary>
            <p> &nbsp; &nbsp;&nbsp; &nbsp;</p>
        </details>
    </div>
    <div>
        <details>
            <summary>Decorator</summary>
            <p> &nbsp; &nbsp;&nbsp; &nbsp;</p>
        </details>
    </div>
    <div>
        <details>
            <summary>Interface</summary>
            <p> &nbsp; &nbsp;&nbsp; &nbsp;</p>
        </details>
    </div>
    <div>
        <details>
            <summary>Inheritance</summary>
            <p> &nbsp; &nbsp;&nbsp; &nbsp;</p>
        </details>
    </div>


</div>