


/* for horizontal menu*/
/* .container{
  margin:10px;

}  */

/* for vertical menu */

.outerContainer{
    display: flex;
    flex-direction: row;
}
.navMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: yellowgreen;
    border-right:2px solid yellow;
    overflow: hidden;
}

.container{
    margin: 5px;
    padding:20px;
    width : 100%;
    border:2px solid grey;
    box-shadow: 2px 2px;
}
.navMenu button{
    width : 300px;
    border-bottom:3px outset palegreen;
    text-align: left;
}