<!-- horizontal menu bar -->


<div class="container">
<mat-toolbar color="primary">
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/example1">Example1</button>
</mat-toolbar> 
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>



<!--                  Vertical Menu                                        -->
<!-- <div class="outerContainer">
  <div class="navMenu">
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/fb">Facebook Integration</button>
    
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div> -->