/* for horizontal menu*/
/* .container{
  margin:10px;

}  */

/* for vertical menu */

.outerContainer {
    display: flex;
    flex-direction: row;
}
/* .navMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #26f596;
    border-right:4px inset turquoise;
    overflow: hidden;
} */
.navMenu {
    display: flex;
    flex-direction: column;
    background-color: #f9d29d;
    background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);    
    border-right: 4px solid turquoise;
    border-left: 2px solid turquoise;
    overflow: hidden;
    color: grey;
}
.container {
    width: 100%;
}
.navMenu button {
    width: 250px;
    border-bottom: 1.5px dotted #0499f2;
    text-align: left;
    margin: 1px;
    padding :5px;
}

.mat-button {
    background-color: transparent !important;
}
