

<!-- horizontal menu bar -->

<!-- 
<div class="container">
<mat-toolbar color="primary">
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="">Facebook Integration</button>
</mat-toolbar> 
</div>
<div class="container">
  <router-outlet></router-outlet>
</div> -->



<!--                  Vertical Menu                                        -->
<div class="outerContainer">
  <div class="navMenu">
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/keyComp">Key Components</button>
    <button mat-button routerLink="CI1">Component Interaction 1</button>
    <button mat-button routerLink="CI2">Component Interaction 2</button>
    <button mat-button routerLink="fb">Facebook Integration</button>
    
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>