<header>
    <section>
        <h4>
            Child B
        </h4>
    </section>
</header>

<hr>
<br>
<br>
<ng-container>
    <form [formGroup]="childBform" (ngSubmit)="onSubmit()">

        Name: <input type="text" formControlName="name" class="form-control" />
        <br><br>
        Password: <input type="password" formControlName="password" class="form-control" />
        <br><br>
        Phone Number: <input type="number" formControlName="Phone" class="form-control" />
        <br><br>
        <div>
            click this <button mat-button>Button</button> to send <b>Child B</b> values to <b>child A</b>
        </div>

    </form>

    <div>
        <details>
            <summary (click)="checkForData()">Data from Child A</summary>
            <ng-container *ngIf=" childA else noData">
                <p>Name <b>{{childA.name}}</b></p>
                <p>Password <b>{{childA.password}}</b></p>
                <p>Phone <b>{{childA.Phone}}</b></p>
            </ng-container>
            <ng-template #noData>
                <p>No data received.Please Check if you have submited the data</p>
            </ng-template>

        </details>
    </div>
</ng-container>