/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-size: 15px !important;
}
header {
    text-align: center;
}

h4 {
    font-weight: bold !important;
    text-decoration: underline;
    font-size: 18px;
}
p,
div {
    padding: 6px;
}
.headContainer {
    padding:8px;
    background-color: #fec84e;
    background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
    border :10px outset  #ffdea8;
}


.childContainer {
    border: 3px dotted turquoise;
    margin: 12px;
    padding: 12px;
}

.mat-button {
    padding: 4px !important;
    border-radius: 5px !important;
    background-color: #ffef77 !important;
}

.mat-button:hover {
    background-color: pink !important;
}
