/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    font-family: 'Times New Roman', Times, serif !important; 
}
body {
    margin: 0;
    font-size: 15px !important;
}
header {
    text-align: center;
}
pre,p{
    font-size: 16px;
}
h4 {
    font-weight: bold !important;
    text-decoration: underline;
    font-size: 18px;
    margin:0.5px !important;
}
p,
div {
    padding: 6px;
}
.headContainer {
    padding:8px;
    background-color: blue;
    background-image: linear-gradient(315deg, #0d11e2 0%, #d877ff 74%);
    border :10px outset blue;
    color:white;
}


.childContainer {
    border: 3px dotted turquoise;
    margin: 12px;
    padding: 12px;
}

.mat-button {
    padding: 4px !important;
    border-radius: 5px !important;
    background-color: #ffef77 !important;
}

.mat-button:hover {
    background-color: pink !important;
}
