<header class="headContainer">
    <section>
        <h4>Introduction</h4>
    </section>
</header>

<hr>

<ng-container>
    <div>
        <p>Stable version : <strong><strong></strong>10.1.3 / 23 September 2020</strong></p>
    </div>
    <div>

        <ul>
            <li>Angular is a TypeScript-based open-source front-end platform that makes it easy to build applications
                with for web/mobile/desktop.
            </li>
            <li>
                Angular is mainly used for developing single-page applications<i>( The single page application is a web
                    application or website that interacts with the user by dynamically rewriting the current page,
                    rather than loading entire new pages from the server)</i>
            </li>
            <li>
                Angular is a completely revived component-based framework in which an application is a tree of
                individual components.
            </li>

        </ul>
    </div>
    <div class="child">
        <div>
            <h4>Features /Pros of Angular</h4>
            <ul>
                <li>Data Binding</li>
                <li>Angular CLI</li>
                <li>Lazy Loading</li>
                <li>Deep Linking</li>
                <li>Cross-Platform</li>
                <li>Declarative templates</li>
                <li>Dependency injection</li>
                <li>MVC Architecture</li>
                <li>High Speed</li>
                <li>Better Error Handling</li>
            </ul>
        </div>

        <div>
            <h4>
                Cons of Angular
            </h4>
        </div>
    </div>
    <div>
        <h4>
            When to use Angular?
        </h4>
        <pre>
        • You’re designing a progressive web application (PWA)
        • You’re creating a large enterprise website or another large-scale project that involves a complex infrastructure
        • You develop website applications that rely on dynamic content
        • You’d like to upgrade outdated website application designs
        • You’ve been hired to improve the user experience for a large website by initiating a major redesign
    
       </pre>
    </div>
    <div>
        <p>
            Although the platform has its share of cons, Angular is a <b>full-featured and dynamic framework.</b> And
            its usability, flexibility, and maintainability makes it unique and provides chances to create excellent and
            successful web-based applications.
        </p>
    </div>

</ng-container>